header {
  height: 100px;
}
.category_container {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 10px;
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.category_container .header {
  font-size: x-large;
}

.category_container .description {
  width: 70%;
  font-weight: lighter;
}

.category_container .button {
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 15px;
  background-color: white;
  color: rgb(43, 43, 43);
}
.category_container .button:hover {
  cursor: move;
}


.course {
    width: 232px;
    display: inline-block;
    margin: 10px 10px 0px 0px;
}
.course img {
    height: 132px;
    width: 99%;
    border: 1px solid grey;
}

.course .title {
    width: 100%;
    margin: 0px;
    margin-top: 2px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.course .instructor {
    width: 100%;
    font-size: small;
    font-weight: 100;
    margin: 6px 0px 3px 0px;
}

.course .rating {
    font-size: large;
    stroke: black;
}
.rating.checked {
    color: darkorange;
}

.course .prices {
    width: 100%;
    margin: 3px 0px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.course .price {
    font-size: large;
    margin-right: 9px;
}

.course .old_price {
    font-size: small;
    text-decoration: line-through;
}

footer {
  height: 200px;
}